@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --bg-signin: url("/assets/images/bg-login.png");
}

@layer utilities {
  .bg-login {
    background-image: linear-gradient(#ff676780, #ff676780), var(--bg-signin);
  }

  body {
    font-family: "Montserrat", sans-serif;
  }

  .card {
    background-color: white;
    border-radius: 24px;
  }
}

/* override react-calendar */
.react-calendar {
  width: 320px;
  border: none;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif !important;
  padding: 12px;
  background: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.react-calendar__navigation button {
  color: #ff6767;
  font-weight: bold;
  font-size: 14px;
  background: none;
}

.react-calendar__navigation button:hover {
  background: #fff5f5;
  border-radius: 8px;
}

.react-calendar__month-view__weekdays {
  color: #ff9090;
  font-size: 12px;
  text-decoration: none;
}

.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}

.react-calendar__tile {
  color: #333;
  border-radius: 8px;
  font-size: 13px;
}

.react-calendar__tile:hover {
  background: #fff5f5;
  color: #ff6767;
}

.react-calendar__tile--active {
  background: #ff6767 !important;
  color: white !important;
  border-radius: 8px;
}

.react-calendar__tile--now {
  background: #ffe4e4;
  color: #ff6767;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #ff6767;
}
